<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <!--Add this code to define the connection string to your database
    Here provider is defined for MySql.-->
    <!--<connectionStrings>
      <add name="mdb"
         connectionString="Server=localhost;Database=metrix;Uid=root;Pwd=;"
         providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>-->
  
    <system.serviceModel>
      <services>
        <service name="WCFService_Demo.DemoService" behaviorConfiguration="wcfDemoBehaviour">
          <!--Define the endpoint here [Address-Binding-Contract]-->
          <endpoint address="WCFService_Demo" binding="basicHttpBinding" contract="WCFService_Demo.IDemoService">
          </endpoint>
          
          <!--Provide the base address which the service can be accessed [Your IP will be defined here in remote comm]-->
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:8080/"/>
            </baseAddresses>
          </host>
        </service>
      </services>

      <!--Define the service behaviour here-->
      <behaviors>
        <!--for client to be able to make a proxy class-->
        <serviceBehaviors>
          <behavior name="wcfDemoBehaviour">
            <serviceMetadata httpGetEnabled="true"/> <!--Allows the wsdl file to be retrieved-->
            <!--client to be able to move to meta data file-->
          </behavior>
        </serviceBehaviors>
      </behaviors>

    </system.serviceModel>
</configuration>